<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-100">

   <div class="flex flex-col justify-center main-h-full px-6 py-12 lg:px-8">
       <div class="max-w-sm mt-5 mx-auto w-full">
           <form th:action="@{login}" method="post" class="bg-white overflow-hidden p-10 rounded-lx shadow-lg space-y-6">
               <div class="mx-auto mx-w-sm w-full">
                   <img th:src="@{/images/logo.png}" class="h-20 w-full">

               </div>
               <h3 class="font-bold mt-10 text-center text-gray-900 text-xl tracking-tight"> Login to the Dashboard</h3>
               <div th:if="${param.error}" class="bg-red-500 p-2 rounded-md text-white">
                    <p > Wrong !! Username of Password Error</p>
               </div>

               <div>
                   <label class="block font-medium leading-6 text-gray-900 text-sm">User Name </label>
                   <div>
                       <input type="text" id="username" name="username" placeholder="UserName" class="block border-0 focus:ring-2 focus:ring-indigo-600 focus:ring-inset placeholder:pl-2 placeholder:text-gray-600 py-1.5 ring-1 ring-gray-300 ring-inset rounded-md shadow-sm sm:text-sm text-gray-900 w-full">

                   </div>
               </div>
               <div>
                   <label class="block font-medium leading-6 text-gray-900 text-sm">Password </label>
                   <div class="mt-5">
                       <input type="password" id="password" name="password" placeholder="Password"
                              class="block border-0 focus:ring-2 focus:ring-indigo-600 focus:ring-inset placeholder:pl-2 placeholder:text-gray-600 py-1.5 ring-1 ring-gray-300 ring-inset rounded-md shadow-sm sm:text-sm text-gray-900 w-full">

                   </div>
               </div>
               <div>
                   <input type="submit" value="Log in" class="bg-indigo-600 font-semibold p-2 rounded-md text-center text-sm text-white w-full">
               </div>
               <div class="font-semibold p-1 p1 rounded-sm text-blue-100 text-center text-sm">
                   M242W0199 || SHRESTHA CHANDRA BAHADUR
               </div>


           </form>
       </div>
   </div>
</body>
</html>